*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f9f9f9;
}

#proxy-renderer {
  height: 100%;
}

#msdoc-renderer {
  height: 100%
}